{% extends "base.html" %}

{% block content %}
<h2>Log New Incident</h2>

<form method="post" action="/add">
    <label>Title</label>
    <input name="title" required>

    <label>Description</label>
    <textarea name="description" required></textarea>

    <label>Severity</label>
    <select name="severity">
        <option>CRITICAL</option>
        <option>HIGH</option>
        <option>MEDIUM</option>
        <option>LOW</option>
    </select>

    <small>Severity indicates operational urgency.</small>

    <button type="submit">Submit Incident</button>
</form>
{% endblock %}
