{% extends "base.html" %}
{% block title %}IncidentDesk | Add Incident{% endblock %}

{% block content %}
<h2>New Incident</h2>

<form method="post" class="form">
    <label>Title</label>
    <input type="text" name="title" required>

    <label>Description</label>
    <textarea name="description" rows="4" required></textarea>

    <label>Severity</label>
    <select name="severity" required>
        <option value="LOW">LOW</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HIGH">HIGH</option>
    </select>

    <button type="submit">Create Incident</button>
</form>
{% endblock %}
